/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #f2f2f2;
  color: #222;
}

/* Cabeçalho */
header {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Menu */
nav {
  background-color: #1a1a1a;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 8px;
  border: 2px solid white;
  border-radius: 30px;
}

/* Seções */
#inicio,
#programacao,
#contato {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

/* Títulos */
.titulo-secao {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid black;
  color: black;
}

/* Cards */
.card-programa {
  background-color: #f8f8f8;
  border: 2px solid black;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* Rodapé */
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
