@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --blue-slat: #495867;
  --glacous: #577399;
  --sky: #bdd5ea;
  --white: #f7f7ff;
  --coral: #fe5f55;
}

/* CSS Reset */
* {
  margin: 0; /* Espaçamento externo*/
  padding: 0; /* Ewspaçamento interno*/
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  padding: 50px;
}

/* Seleção de elemento */
h2 {
  font-family: "Courier New", Courier, monospace;
  color: var(--blue-slat);
}

/* Seleção de id */
#tabela {
  text-align: center;
  background-color: #ad91a3;
  color: #e1efe6;
}

/* Seleção de classe */
.negrito {
  font-weight: bold;
}

/* Seleção de elemento (p) que usa determinada classe (courier) */
p.courier {
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h3 {
  font-style: italic;
}

form button {
  background-color: brown;
}

/* form input {
background-color: var(--blue-slate);
color: var(--sky);
} */

img {
  height: 200px; /*Altura */
  border-radius: 50%; /*Largura */
}

.avatar {
  border-radius: 50%;
}

#nav-sections
  /*Somente para uma determinada parte */
  /* margin-top: 15px; */
 

#nav-sections ul {
  list-style-type: none;
}

#nav-sections li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--sky);
  background-color: var(--blue-slat);
  border-radius: 5px;
}

a:hover {
  color: var(--coral);
  box-shadow: 0 0 10px var(--coral);
}

#nav-links ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-slat);
  background-color: var(--coral);
  border-radius: 5px;
}

a:hover {
  color: var(--sky);
  box-shadow: 0 0 10px var(--blue-slat);
}

.fonte-maior {
  font-size: 48px;
  background-color: var(--glacous);
  padding-left: 20px;
  /*border-width: 10px;
  border-style: solid;
  border-color: green;*/
  border: 10px dotted green;
}

.teste-espacamento {
  background-color: var(--coral);
  padding: 20px 40px;
  margin-bottom: 100px;
  border-bottom: 10px solid black;
}

/* Paleta de cores */
:root {
  --azul: #1e3a8a;
  --azul-claro: #dbeafe;
  --cinza: #505153;
  --branco: #ffff;
  --preto: #222222;
  --verde: #16a34a;
}

/* Corpo */
body {
  background-color: var(--cinza);
  color: var(--preto);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Cabeçalho */
header {
  background-color: var(--azul);
  color: var(--branco);
  text-align: center;
  padding: 20px;
}

/*Rodapé*/
footer {
  background-color: var(--preto);
  color: var(--branco);
  text-align: center;
  padding: 15px;
}

/*Títulos*/
h1,
h2,
h3 .titulo-secao {
  font-family: Georgia, serif;
  color: var(--azul);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

/*Cards*/
.card-programa {
  background-color: var(--branco);
  border: 2px solid var(--azul);
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  font-size: 15px;
}

/*IDs*/
#inicio {
  background-color: var(--azul-claro);
  padding: 15px;
}

#programacao {
  border-left: 6px solid var(--azul);
  padding: 15px;
}

#contato {
  border-left: 6px solid var(--verde);
  padding: 15px;
}

/*Navegação*/
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-rigth: 10px;
}

nav a {
  text-decoration: none;
  color: var(--branco);
  background-color: var(--azul);
  padding: 8px 12px;
  border-radius: 5px;
}

nav:hover {
  background-color: var(--verde);
}

